{% extends 'mise en page/base.html' %}
<!---le block content veut dire quoi?-->
{%block title%} Acceuil {%endblock%}

{% block content %}
<div id="vue_acceuil">
<img src="../static/images/stevin.jpg" >
<p >
				<b>Bonjour chers</b>
			collegues<br> je me nomme<b> MATONDO blaude valdy sodel</b> j'e suis un jeune congolais en deuxieme année de licence à l'Ecole Communautaire de l'Enseignement Supérieur  en sigle ECES.
			habitant Brazzaville.<br/>En effet je suis
			en cour de formation<br/>en Genie- Informatique 
			<strong>Futur ingénieur  de qualité </strong>
			<b>infographique,reseau & System</b>
			    			<u>Merci</u>
		</p>

</div>
{% endblock %}